body {
  background-color: #8f8272;
}
.button {

  background-color: #002469; 
  border: none;
  color: #e8b012;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 15px 10px;
  cursor: pointer;
  padding: 20px;
}

.button {border-radius: 50%;}
.button {border-radius: 50%;}
.button {border-radius: 50%;}
.button {border-radius: 50%;}

}

.button {background-color: #002469;} 
.button {background-color: #d22630;} 
.button {background-color: #8f8272; color: #e8b012;} 
.button {background-color: #d22630;} 
}